@import url('https://fonts.googleapis.com/css?family=lato');

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family:  'Lato', sans-serif;
}

* {
  outline:  1px dotted yellow;
}

.header {
  background-color: #2D2F3B;
  height:  90px;
  border-bottom:  6 px solid #323746;
}

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
 .logo {
   float:  left;
   font-size: 1.4rem;
   margin-top: 35px;

 }

.links {
  float:  right;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #4B4E61;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 0 10px

}

.salmon {
  color: #F16C65;
}

.banner {
  background-color: #F16C65;
  text-align:  center;
  padding: 50px 0px;
}

.banner img {
  width: 100%;
  max-width: 960px;
}

.services {
  max-width: 960px;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
  font-size: .5rem;
  padding: 50px 0px;
}

.services.p {
  max-width: 960px;
  color: #666d89;
  float: left;
  margin-left: auto;
  font-size: 0.4rem;
}

}

@media screen and (max-width: 610px) {
  .logo {
    float: none:left;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
  }

  .links {
    float: none;
    margin-top: 10px;
    text-align: center;
  }
}

  body {
    background-color:  #F2F2F2;

  }
}
